.layout {
    min-height: 100vh;
    background-color: var(--background);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    /* Sidebar width */
    transition: margin-left 0.3s ease-in-out;
    width: auto;
}

.main-content {
    flex: 1;
    padding: var(--spacing-lg);
    overflow-x: hidden;
}

/* Responsive */
@media (max-width: 768px) {
    .main-wrapper {
        margin-left: 0;
        width: 100%;
    }

    .main-content {
        padding: var(--spacing);
    }
}